.login {
  position: absolute;
  right: 120px;
}
.signup {
  position: absolute;
  right: 20px;
}
.padding {
  margin-right: 20px;
}
.margin {
  margin-left: 10px;
}
.formWidth {
  width: 200px;
}
hr {
  size: 10px;
}
